body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  font-family: "calibri", sans-serif;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.msg {
  float: left;
  width: 85%
}

.logo {
  max-width: 80px;
  float: left;
  width: 15%
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

div.chat {
  clear: both;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.text {
  height: 40px;
}

textarea:focus,
input:focus {
  outline: none;
}

#user_input {
  width: 80%;
  border: 0;
}

.top {
  width: 100%;
}

.top::after {
  content: "";
  clear: both;
  display: table;
}

.help_text {
  width: 99%;
  border: 3px solid #30ADFF;
  border-radius: 10px;
}

.help_text_p {
  padding: 5px
}

.right {
  float: right;
  margin-right: 0;
}

.title {
  float: left;
}

.audio {
  float: right;
  margin-right: 0;
}

.help {
  padding-top: 20px;
  max-width: 30px;
  float: right;
  margin-right: 0;
}

#go_button {
  width: 20px;
  display: none
}


#help_button {
  margin-left: 10px;
  width: 30px;
  cursor: pointer;
}

#settings_button {
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
}

#speaker {
  margin-top: 20px;
  margin-left: 10px;
  width: 35px;
  cursor: pointer;
}

.mic {
  float: right;
  margin-right: 0;
  height: 30px;
}

#mic {
  float: right;
  margin-right: 0;
  margin-top: -5px;
}

#settings {
  display: none;
}

.settings{
  border: 3px solid #30ADFF;
  border-radius: 10px;
  margin: 10 px;
  padding: 10px;
}

details {
  display: inline;
  cursor: pointer;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

summary {
  display: inline;
  color: rgb(30, 30, 30);
  text-decoration: underline;
}

summary:hover {
  display: inline;
  color: rgb(25, 120, 25);
  text-decoration: none;
}

details[open] summary {
  display: none;
}

/* unvisited link */
a:link {
  color: rgb(30, 30, 30);
}

/* visited link */
a:visited {
  color: rgb(30, 30, 30);
}

/* mouse over link */
a:hover {
  color: rgb(25, 120, 25);
  text-decoration: none;

}

/* selected link */
a:active {
  color: rgb(30, 30, 30);
}


#auth {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  color: black;
  /*width: 300px;
  height: 300px;*/
  top: 820px;
  left: 150px;
  border-radius: 10px;
}

#authheader {
  padding: 10px;
  cursor: move;
  z-index: 100;
  background-color: rgb(40, 112, 219);
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

#l_psw {
  margin: 10px;
  color: #30ADFF;
}

#l_uname {
  margin: 10px;
  color: #30ADFF;
}


#uname,
#psw {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;

  background-color: white;

  resize: none;
  border-color: #30ADFF;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}

#uname:hover,
#psw:hover {
  background-color: #b3dffd;
  color: black;
}

.auth_button {
  margin: 10px;
  appearance: none;
  background-color: rgb(40, 112, 219);
  border: 1px solid rgb(40, 112, 219);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: small;
  font-weight: 600;
  line-height: 10px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

}

.auth_button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.auth_button:hover {
  background-color: #2c974b;
}

.auth_button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.auth_button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.auth_button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#auth {
  display: none;
}

.msg ul{
  margin-top: 0px;
  margin-bottom: 5px;
}

.msg p{
  margin-top: 5px;
  margin-bottom: 0px;
}

#templatesheader a.right{
  color: white;
}