 
  #templates li{
    margin-right: 10px;
  }
  
  #templates .sub{
    color: royalblue;
    font-weight: bold;
  }
  #templates .ins{
    color: purple;
    font-weight: bold;
  }
  
  .count {
    background-color: #c7dfff;
    padding-left: 5px;
    padding-right: 5px;
  }
  .list {
    background-color: #c2fdeb;
    padding-left: 5px;
    padding-right: 5px;
  }
  .describe {
    background-color: #e3fdc2;
    padding-left: 5px;
    padding-right: 5px;
  }
  .compare {
    background-color: #fdddc2;
    padding-left: 5px;
    padding-right: 5px;
  }
  .open {
    background-color: #e5c2fd;
    padding-left: 5px;
    padding-right: 5px;
  }
  .center{
    text-align: center;
  }

  @media (min-width: 1200px) {
    #templates {
      position: fixed;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 9;
      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      color: black;
      /*overflow-y: scroll;
      resize: vertical;*/
      width: 400px;
      /*height: 680px;*/
      top: 350px;
      left: 250px;
      border-radius: 10px;
    }
  
    #templatesheader {
      padding: 10px;
      cursor: move;
      z-index: 10;
      background-color: rgb(40, 112, 219);
      color: #fff;
      border-radius: 10px;
      font-weight: bold;
    }

    #in_t{
      display: inline;
    }
  }
  
  @media (max-width: 1200px) {
    #templates {
      position: static; 
      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      color: black;
      border-radius: 10px;
      margin-left: 2px;
      margin-right: auto;
      margin-bottom: 10px;
      padding-bottom: 10px;
      width: 98%;

    }
    
    #templatesheader {
      padding: 10px;
      
      z-index: 10;
      background-color: rgb(40, 112, 219);
      color: #fff;
      border-radius: 10px;
      font-weight: bold;
    }

    #in_t{
      display: inline;
    }

  }
  
  #open_templates{
    display: none;
  }